@value makerBlue, makerBlack, makerWhite from '../../common/color.css';

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: #ffffff;
  width: 100%;
  height: 56px;
  padding: 0.5em;
  text-align: center;
}

.back {
  width: 32px;
  height: 32px;
  margin: 10px;
}

.fb__10 {
  flex-basis: 10%;
}

.fb__15 {
  flex-basis: 15%;
}
